.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  float: left;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: navy;
}

#commentRow {
	color: blue;
	font-weight: bold;
}

body {
  background: #466368;
  background: linear-gradient(to right, #ede909, #16448e, #293f50);
  border-radius: 6px;
}

